* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("img/background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80vw;
    height: auto;
    background-color: #050404b0;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 0.4rem solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px black;
    /* backdrop-filter: blur(10px); */
    padding: 1rem;
}

.box1 {
    width: 30vw;
    height: 100%;
}

.search_box {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#searchdata {
    width: 25rem;
    height: 4rem;
    border-radius: 2rem;
    border: 3px solid #ffffff;
    outline: none;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 2rem;
    background-color: #ffffff00;
    color: white;

}

.search_icons {
    width: 4rem;
    height: 4rem;
    display: grid;
    place-items: center;
    border-radius: 5rem;
    background-color: #ffffff;
    cursor: pointer;
}

.search_icons i {
    font-size: 2rem;
}

.img_box {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}

.img_box img {
    width: 25rem;
}

.content_box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-size: 8rem;
    font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
    color: #ffffff;
}

.content h1 sup {
    font-size: 4rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    color: #ffffff;
}

.content p {
    font-size: 3rem;
    color: #fffefe;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
}

.box2 {
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.d1 {
    display: flex;
}

.d1 p {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 3rem;
}

.items {
    width: 16vw;
    height: 16vw;
    margin: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3rem;
    line-height: 5rem;
    border: 3px solid gray;
    box-shadow: 0px 0px 10px rgb(20, 19, 19);
}

.items i{
    font-size: 4rem;
    color: #fff;
}


.items h3 {
    font-size: 2rem;
    font-family: "Chakra Petch", sans-serif;
    color: white;
}

.items h1 {
    font-size: 4rem;
    font-family: "Chakra Petch", sans-serif;
    color: white;
}
@media screen and (max-width: 1135px){
    *{
        font-size: 7px;
    }
    .items{
        width: 20vw;
    }
    .container{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    .items{
        width: 35rem;
        height: 25rem;
    }
}
@media screen and (max-width: 768px) {
    *{
        font-size:4px;
    }
    #searchdata{
        width: 50rem;
        height: 30px;
    }
    .container {
        width: 100vw;
        height: 100%;
        flex-direction: column;
    }
    .box1{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .maincontant{
        width: 100%;
        display: flex;
    }
    .img_box img {
        width: 30rem;
    }

    .box1,
    .box2 {
        width: 100%;
    }
    
    .items {
        width: 45%;
        height: 30rem;
    }
}