* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: crimson; */
    position: relative;
}
.box1{
    width: 30%;
    height: 100%;
    /* background-color: lightgreen; */
    position: relative;
    padding: 1vw;
}
.search_box{
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 2vw;
}
#searchdata{
    width: 25vw;
    height: 2.5vw;
    border-radius: 5vw;
    padding-left: 1vw;
    font-size: 1vw;
    border: none;
    outline: none;
}
.search_icons {
    width: 4vw;
    height: 2.5vw;
    border-radius: 50px;
    background-color: #fff;
    display: grid;
    place-items: center;
}
.search_icons i{
    font-size: 1.3vw;
    font-weight: bold;
}
.maincontant{
    width: 100%;
    position: relative;
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img_box{
    width: 100%;
    height: 10%;
    overflow: hidden;
    display: grid;
    place-items: center;
}
#weather_img{
    width:13vw;
    background-position: center;
    background-size: cover;
}
.content_box{
    position: relative;
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.content_box_child1 h1{
    font-size: 6vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
}
.content_box_child1 p{
    font-size: 2vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
}
.d1{
    display: flex;
}
.content_box_child2 p{
    font-size: 2vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
}

.content_box_child1 sup{
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}
.box2{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: chocolate; */
}
.items{
    width: 15vw;
    height: 15vw;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #979797;
    border-radius: 1vw;
}
.items h1{
    font-size: 2.5vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
}
.items h3{
    font-size: 2vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
}
.items i{
    font-size: 2vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
}

@media (min-width:768px) and (max-width:1023px){
    
    .container{
        width: 100%;
        height: 100%;
        display: inline;
        overflow-y: scroll;
    }
    .box1{
        width: 100%;
        height:auto;
    }
    #weather_img{
        width: 30vw;
    }
    .box2{
        width: 100%;
        height: 60%;
    }
    .maincontant{
        flex-direction: row;
    }
    #searchdata{
        width: 80vw;
        height: 5vw;
        font-size: 2vw;
    }
    .search_box{
        justify-content: center;
        gap: 2vw;
    }
    .search_icons i{
        font-size: 3vw;
        font-weight: bold;
    }
    .search_icons {
        width:5vw;
        height:5vw;
    }
    .content_box_child1 h1{
        font-size: 8vw;
    }
    .content_box_child1 sup{
        font-size: 3vw;
    }
    .content_box_child1 p{
        font-size: 3vw;
    }
    .content_box_child2 p{
        font-size: 3vw;
    }
    .box2{
        width: 100%;
        height: auto;
        gap: 3vw;
        padding: 1vw;
    }
    .items{
        width: 30vmax;
        height: 16vmax;
    }
    .items i{
        font-size: 6vw;
    }
    .items h3{
        font-size: 3vw;
    }
    .items h1{
        font-size: 3vw;
    }
    
}

@media screen and (max-width:767px) {
    .container{
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .box1{
        width: 100%;
        height: auto;
    }
    #weather_img{
        width: 50vw;
    }
    .maincontant{
        flex-direction: row;
    }
    .search_box{
        justify-content: center;
        gap: 2vw;
    }
    #searchdata{
        margin-top: 2vw;
        width: 80vw;
        height: 9vw;
        padding-left:3vw ;
        font-size: 4.5vw;
    }
    .search_icons {
        width:8vw;
        height:8vw;
    }
    .search_icons i{
        font-size: 5vw;
        font-weight: bold;
    }
    .content_box{
        align-items: start;
        flex-direction: column;
    }
    .content_box_child1 h1{
        font-size: 18vw;
    }
    .content_box_child1 sup{
        font-size: 10vw;
        font-family: 'Courier New', Courier, monospace;
    }
    .content_box_child1 p{
        font-size: 5vw;
    }
    .content_box_child2 p{
        font-size: 5vw;
    }
    .box2{
        width: 100%;
        gap: 2vw;
    }
    .items{
        width: 20vmax;
        height: 18vmax;
    }
    .items i{
        font-size: 10vw;
    }
    .items h3{
        font-size: 5vw;
    }
    .items h1{
        font-size: 4vw;
    }
}
@media screen and (max-width:270px){
    .items{
        width: 40vmax;
        height: 12vmax;
    }
}